<div class="test-container">
  <div class="test-card">
    <app-test-inicio 
      *ngIf="pantalla === 'inicio'" 
      (enviarTest)="iniciar($event)">
    </app-test-inicio>

    <app-test-ejecucion 
      *ngIf="pantalla === 'ejecucion'" 
      [testActual]="testSeleccionado!" 
      (alFinalizar)="finalizar($event)">
    </app-test-ejecucion>

    <app-test-resultado 
      *ngIf="pantalla === 'resultado'" 
      [listaResultados]="resultados" 
      (reiniciarTest)="irInicio()">
    </app-test-resultado>
  </div>
</div>
